.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-inline: 400px;
}
.section-title {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
}
.add-button-container {
  display: flex !important;
  justify-content: flex-end !important;
}
.add-button {
  font-family: Roboto !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 27px !important;
  letter-spacing: 0em !important;
  background: #fdc435 !important;
  color: black !important;
  height: 43px !important;
  width: 81px !important;
}
